.greeting {
  font-weight: bold; /* Hacer el mensaje de bienvenida más destacado */
  color: #000000; /* Color del texto de bienvenida */
  display: block; /* Hacer que el mensaje de bienvenida ocupe su propia línea */
}

.username {
  color: #0084d1; /* Color del texto del nombre del usuario */
  font-style: italic; /* Estilo del texto del nombre del usuario */
}

body {
  background-color: #003366;
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  height: 100vh; /* Asegurarse de que el cuerpo ocupe toda la altura de la ventana */
}

h1 {
  color: #D3D3D3;
  text-align: center;
  font-weight: 700;
}

.container {
  flex-grow: 1; /* Permitir que el contenedor crezca para ocupar el espacio restante */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px; /* Agregar un poco de espacio alrededor de la cuadrícula */
  height: calc(100vh - 70px); /* Ajustar la altura para que ocupe el espacio restante (ajusta según la altura de la barra de navegación) */
  overflow-y: auto; /* Permitir desplazamiento vertical si hay muchas imágenes */
}

.image-item {
  position: relative; /* Necesario para posicionar el texto sobre la imagen */
  overflow: hidden; /* Evitar que el contenido se desborde */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  max-width: 300px;
  max-width: 300px; /* Ajustar el tamaño máximo de las imágenes */
  aspect-ratio: 16/9;
}


.image-container {
  position: relative; /* Necesario para el posicionamiento absoluto del texto */
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustar el tamaño de la imagen para que cubra el contenedor */
}

.image-text {
  position: absolute; /* Posicionar el texto en la parte superior de la imagen */
  top: 10px; /* Agregar un poco de espacio entre el texto y la imagen */
  left: 0; /* Posicionar el texto en la parte izquierda de la imagen */
  transform: translate(0, 0); /* No mover el texto */
  background: rgba(0, 0, 0, 0.5); /* Agregar un fondo semi-transparente al texto */
  color: white; /* Establecer el color del texto en blanco */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 10px; /* Agregar un poco de espacio alrededor del texto */
  border-radius: 5px; /* Agregar un borde redondeado al texto */
}